.git
.gitignore
.github
.circleci
.factory
.vscode

node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
.nyc_output
reports
**/reports

test
tests
**/test
**/tests

.env
.env.*
**/.env
**/.env.*
.npmrc
**/.npmrc
docs/*.env
docs/**/*.env

npm-debug.log*
pnpm-debug.log*
