version: 2.1
defaults: &defaults
  docker:
  - image: cimg/python:3.12.1-browsers
install_dependency: &install_dependency
  name: Installation of build and deployment dependencies.
  command: |
    pip3 install awscli --upgrade
install_deploysuite: &install_deploysuite
  name: Installation of install_deploysuite.
  command: |
    git clone --branch v1.4.17 https://github.com/topcoder-platform/tc-deploy-scripts ../buildscript
    cp ./../buildscript/master_deploy.sh .
    cp ./../buildscript/buildenv.sh .
    cp ./../buildscript/awsconfiguration.sh .
    cp ./../buildscript/psvar-processor.sh .

restore_cache_settings_for_build: &restore_cache_settings_for_build
  key: docker-node-modules-{{ checksum "yarn.lock" }}

save_cache_settings: &save_cache_settings
  key: docker-node-modules-{{ checksum "yarn.lock" }}
  paths:
  - node_modules

finger_print_add: &finger_print_add
    fingerprints:
            - SHA256:KJYSvQh9CxkY9yRXxp+Geo6cllnfSiiKAH3LFQ/X9f4

builddeploy_steps: &builddeploy_steps
- add_ssh_keys: *finger_print_add 
- checkout
- setup_remote_docker
- run: *install_dependency
- run: *install_deploysuite
- restore_cache: *restore_cache_settings_for_build
- run:
    name: "Authenticate with CodeArtifact and build Docker image"
    command: |
      ./awsconfiguration.sh ${CODEARTIFACT_ENV}
      source awsenvconf
      aws codeartifact login --tool npm --repository topcoder-framework --domain topcoder --domain-owner $AWS_ACCOUNT_ID --region $AWS_REGION --namespace @topcoder-framework
      cp ~/.npmrc .
      rm -f awsenvconf
- run:
    name: "Build docker image"
    command: |
      ./awsconfiguration.sh ${DEPLOY_ENV}
      source awsenvconf
      ./psvar-processor.sh -t appenv -p /config/${APPNAME}/buildvar
      source buildvar_env
      rm -f awsenvconf
      ./build.sh ${APPNAME}     
- save_cache: *save_cache_settings
- deploy:
    name: Running MasterScript.
    command: |
      ./awsconfiguration.sh $DEPLOY_ENV
      source awsenvconf
      ./psvar-processor.sh -t appenv -p /config/${APPNAME}/deployvar
      source deployvar_env
      ./master_deploy.sh -d ECS -e $DEPLOY_ENV -t latest -j /config/common/global-appvar,/config/${APPNAME}/appvar -i ${APPNAME} -p FARGATE
jobs:
  # Build & Deploy against development backend
  "build-dev":
    !!merge <<: *defaults
    environment:
      DEPLOY_ENV: "DEV"
      LOGICAL_ENV: "dev"
      APPNAME: "challenge-api-v6"
      CODEARTIFACT_ENV: "PROD"
    steps: *builddeploy_steps

  "build-qa":
    !!merge <<: *defaults
    environment:
      DEPLOY_ENV: "QA"
      LOGICAL_ENV: "qa"
      APPNAME: "challenge-api-v6"
      CODEARTIFACT_ENV: "PROD"
    steps: *builddeploy_steps

  "build-prod":
    !!merge <<: *defaults
    environment:
      DEPLOY_ENV: "PROD"
      LOGICAL_ENV: "prod"
      APPNAME: "challenge-api-v6"
      CODEARTIFACT_ENV: "PROD"
    steps: *builddeploy_steps

workflows:
  version: 2
  build:
    jobs:
    # Development builds are executed on "develop" branch only.
    - "build-dev":
        context: org-global
        filters:
          branches:
            only:
            - develop
            - module-updates
            - pm-2540

    - "build-qa":
        context: org-global
        filters:
          branches:
            only:
            - qa

    # Production builds are exectuted only on tagged commits to the
    # master branch.
    - "build-prod":
        context: org-global
        filters:
          branches:
            only: master
